# general configuration

SLEEPER       = "<your name here>"

DEBUG         = True
SECRET_KEY    = "add random characters here"

# server configuration
HOST          = "0.0.0.0"
PORT          = 8080

# influx configuration

INFLUX_HOST   = "localhost"
INFLUX_PORT   = 8086
INFLUX_DB     = "sleep"
INFLUX_USER   = "root"
INFLUX_PASSWD = "root"

# accelerometer configuration

ACCEL_SENSOR = None             # accelerometer model
ACCEL_FILTER = True             # filter data via Kalman filter
ACCEL_SAMPLES_PER_SECOND = 200  # number of samples per second
ACCEL_MAG_THRESHOLD      = 4.0

# light sensor configuration
LIGHT_SENSOR = None
LIGHT_SENSOR_SAMPLE_PERIOD = 10

# temperature/humidity sensor configuration
TEMP_HUM_SENSOR = None
TEMP_HUM_SENSOR_SAMPLE_PERIOD = 10
