[Unit]
Description=Mayhem's Sleep Debugging Logger -- light sensor data agent
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/robert/sleep-debugger/light-sensor.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
