blinker==1.4
certifi==2022.12.7
chardet==3.0.3
click==6.7
Flask==0.12.2
Flask-DebugToolbar==0.10.1
idna==2.5
influxdb==4.1.0
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.16.5
six==1.10.0
urllib3==1.21.1
Werkzeug==0.12.2
